* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Playfair Display, serif'
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#banner-container {
    padding-top: 750px;
    /* width: 100%; */
    background-image: url("vals_london.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #banner-text {

} */

#banner-img {
    width: 100%;
}

#banner-text-small {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#projects {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#collapsible-btn {
    width: 100%;
}

#trippa-content {
    padding: 0 20px;
    display: none;
    overflow: hidden;
    background-color: black;
}

#trippa-container {
    padding: 20px;
}

#music-library-container {
    padding: 20px;
}

#banner-text-big {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: lightgreen;
    overflow: hidden;
    text-align: center;
}

#linkedin {
    padding: 10px;
}